@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Krona+One&family=Michroma&family=Play&family=Playfair+Display:ital@0;1&family=Ruslan+Display&display=swap');

body, html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.App {
  background: #fff;
  min-height: 100vh;
  max-height: 100%;
}